<div class="row">
    <div class="col-xs-12">
        <img src="" alt="" class="img-responsive"/>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>recipe name</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">       
        <ul class="nav navbar-nav">
            <li class="dropdown" dropdown> <!-- {1} -->
                <a dropdownToggle role="button"> <!-- {2} -->
                    Manage recipe  <span class="caret"></span></a>
                    <ul *dropdownMenu class="dropdown-menu"> <!-- {3} -->
                    <li>  <a href="#">Add ingredients to shopping list</a></li>
                    <li role="separator" class="divider"></li>
                    <li>  <a href="#">Edit recipe</a></li>   
                    <li role="separator" class="divider"></li>
                    <li>  <a href="#">Delete recipe</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h1>Description</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h1>Ingredients</h1>
    </div>
</div>